@page
@model Presentacion.Pages.CCancha.EditarModel
@{
    ViewData["Title"] = "Editar Cancha";
}

<h1>Editar Cancha</h1>
<h2 class="">@ViewData["Error"]</h2>

<div class="form-horizontal">
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div class="form-group">
                    <table>
                        <tr>
                            <td><label asp-for="ObjCancha.Id" hidden></label></td>
                            <td><input asp-for="ObjCancha.Id" hidden /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="ObjCancha.Nombre"></label></td>
                            <td><input asp-for="ObjCancha.Nombre" /></br></td>
                        </tr>
                        <tr>
                            <td><label asp-for="ObjCancha.Deporte"></label></td>
                            <td><input asp-for="ObjCancha.Deporte" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="ObjCancha.N_Espectadores"></label></td>
                            <td><input asp-for="ObjCancha.N_Espectadores" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="ObjCancha.Medidas">Medidas Mts</label></td>
                            <td><input asp-for="ObjCancha.Medidas" /></td>
                        </tr>
                        <td><label asp-for="ObjCancha.Id_escenario">Escenario (ID)</label></td>
                        <td>
                            <select asp-for="ObjCancha.Id_escenario">
                                <option value="">Seleccione una opcion</option>
                                @foreach (var item in Model.Esce)
                                {
                                    <option value="@item.Id">@item.Nombre</option>
                                }
                            </select>
                        </td>
                        </tr>
                    </table>
                </div>
                <div class="form-group">
                    <input type="submit" value="EDITAR" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="./Index">Ir al Inicio</a>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
